---
import type { GetStaticPaths } from "astro";
import type { PokemonSingleInterface } from "../../interfaces/pokemon-Single.response";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";

import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/pokemonCard.astro";

export const getStaticPaths = (async () => {
    const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
    const { results } = (await resp.json()) as PokemonListResponse;
    return results.map((pokemon) => ({
        params: { name: pokemon.name },
        props: { urlPokemon: pokemon.url },
    }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { urlPokemon } = Astro.props;

const resp = await fetch(urlPokemon);
const data = (await resp.json()) as PokemonSingleInterface;
const audioSource = data.cries.latest;
---

<MainLayout title={name}>
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div>
            <a href="/">Regresar</a>
            <h1 class="text-5xl capitalize">Hola {name}</h1>
        </div>

        <PokemonCard urlPokemon={urlPokemon} />
        <audio controls class="mt-5">
            <source src={audioSource} type="audio/ogg" />
            Your browser does not support the audio element
        </audio>
    </section>
</MainLayout>

<style>
    a {
        @apply hover:underline text-blue-500;
    }
</style>
