---

import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";

export const getStaticPaths = (() => {
    
    return [
        {params: {name: 'bulbasaur'}},
        {params: {name: 'charmander'}},
        {params: {name: 'squirtle'}},
        {params: {name: 'raticate'}}
        
    
    ];
}) satisfies GetStaticPaths;

const { name } = Astro.params;
---

<MainLayout title="pokemon este">

    <h1 class="text-3xl">Hola {name} </h1>
</MainLayout>